@model WebAppTest.Controllers.Sample

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm("Save", "Test", FormMethod.Post))
{
    @Html.AntiForgeryToken()

<dl>
    <dd id="aaa">
        @Html.LabelFor(m => m.Value1) :
        @Html.EditorFor(m => m.Value1)
        @Html.ValidationMessageFor(m => m.Value1)
    </dd>
    <dd id="aaa">
        @Html.LabelFor(m => m.Value2) :
        @Html.EditorFor(m => m.Value2)
        @Html.ValidationMessageFor(m => m.Value2)
    </dd>
    <dd>
        @Html.DisplayNameFor(m => m.List) :
        @Html.DropDownList("List", null, htmlAttributes: new { @id = "list", @class = "form-control", onChange = "changeItem()" })
    </dd>
</dl>


    <input type="submit" />
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script type="text/javascript">
    function changeItem() {
        var val = $("#list").val();
        if (val == 5) {
            $("#Value1").hide();
            $("#Value2").show();
        } else {
            $("#Value1").show();
            $("#Value2").hide();
        }
        //$("#Value1").val(val);
        console.log(val);
        //$("#Value1").attr("data-val-range-max", 5);
        //$("#Value1").attr("data-val-range", "NOR NOR");
        //$("#aaa").hide();
        //$("#v1").text("ok");
        //$("#v1").hide();
        //$("#v2").hide();
    }
</script>
